# Segmenting and Clustering Neighborhoods in Toronto
- This notebook is for the ibm coursera applied data science week 3 project
- It is built using a docker image  and jupyterLabs
- the design for this notebook is based on the week 3 Segmentation methods labs

Objective: "For this assignment, you will be required to explore and cluster the neighborhoods in Toronto."



## Author Franklin Bettencourt
## 2020-APR-12

In [83]:
import numpy as np # library to handle data in a vectorized manner
#!conda install -c conda-forge lxml --yes

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Libraries imported.

Could not get the webscraping to work so I had to copy page to excel to then import the table. Since this was not the focus of this project I figured it was ok to do so.

In [84]:
# Load in WikiTable Data 

df = pd.read_csv("torontoWikiTableRaw.csv")
print(df.columns)
print(df.shape)
df.head()

Index(['Postal code', 'Borough', 'Neighborhood'], dtype='object')
(180, 3)

  Postal code            Borough                 Neighborhood
0        M1A       Not assigned                           NaN
1        M2A       Not assigned                           NaN
2        M3A         North York                    Parkwoods
3        M4A         North York             Victoria Village
4        M5A   Downtown Toronto   Regent Park / Harbourfront

In [85]:
#help(pd.DataFrame.loc)

In [86]:
#The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
# done 
#Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
#we need to drop all rows with borough==NotAssigned
notAs=df.loc[0,'Borough']
iNotAs= [df.loc[:,'Borough'] != notAs]
#type(iNotAs[0])

dfAssnd = df.loc[iNotAs[0],:]
dfAssnd.head(10)

,Postal code,Borough,Neighborhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,Regent Park / Harbourfront
5,M6A,North York,Lawrence Manor / Lawrence Heights
6,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government
8,M9A,Etobicoke,Islington Avenue
9,M1B,Scarborough,Malvern / Rouge
11,M3B,North York,Don Mills
12,M4B,East York,Parkview Hill / Woodbine Gardens
13,M5B,Downtown Toronto,"Garden District, Ryerson"

In [87]:
#More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is 
#listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods 
#separated with a comma as shown in row 11 in the above table.
#dfAssnd.loc[dfAssnd.loc[:,'Postal code']=="M5A ",:]

## Answer - It appread that there was a 1:1 corrlecation between Borough = "Not assigned" and Neighborhood = "NaN"

## scratch work 
#isNan=df.loc[0,'Neighborhood']
#print(isNan)
##iNotNan= [df.loc[:,'Neighborhood'] != isNan]
#iNotNan= [df.loc[:,'Neighborhood'] != "NaN"]
##print(iNotNan)
#dfNotNan=df.loc[iNotNan[0],:]
#dfNotNan.head(15)
##         #dfAssnd = df.loc[iNotAs[0],:]
##dfAssnd.head(15)

#If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough
#np.unique(dfAssnd[['Neighborhood']].values)

In [88]:
#In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.
dfAssnd.shape

(103, 3)